; -*- mode: clojure; -*-
; vim: filetype=clojure

; Riemann frontend configuration

(def BOOTSTRAP_SERVERS (System/getenv "BOOTSTRAP_SERVERS"))

(logging/init {:console? true})

; Listen on the local interface over graphite (3003)
(let [host "0.0.0.0"]
  (graphite-server {:host host :port 3003})
)


; Expire old events from the index every 5 seconds.
(periodically-expire 5)

(let [index (index)]
  ; Inbound events will be passed to these streams:
  (streams
    (default :ttl 60
      ; Index all events immediately.
      index
)))

(def kafka-output (kafka {
  :security.protocol "SSL"
  :ssl.truststore.location "/etc/ssl/certs/java/cacerts"
  :bootstrap.servers BOOTSTRAP_SERVERS
}))

; Stream to kafka topic "metrics"
(streams
  ; Print event to stdout
  prn
  (kafka-output "metrics"))
