[ req ]
default_bits       = 2048
default_md         = sha256
encrypt_key        = yes
prompt             = no
distinguished_name = req_distinguished_name
req_extensions     = v3_req

[ req_distinguished_name ]
C  = GB
O  = HMRC
OU = Digital Operations Group
ST = Bristol
L  = Bristol
CN = es.telemetry.internal

[v3_req]
basicConstraints     = CA:FALSE
subjectKeyIdentifier = hash
keyUsage             = digitalSignature, keyEncipherment
extendedKeyUsage     = clientAuth, serverAuth
subjectAltName       = @alt_names

[alt_names]
IP.1  = 127.0.0.1
DNS.1 = es01.telemetry.internal
DNS.2 = es02.telemetry.internal
DNS.3 = es03.telemetry.internal
DNS.4 = kib01.telemetry.internal
DNS.5 = localhost
